# Copy this file to .env before starting Compose if you need to change defaults.
HTTP_PORT=5000
MQTT_HOST=10.5.61.199
MQTT_PORT=1883
MQTT_TOPIC=raspi/10/http/request
MQTT_STATUS_TOPIC=raspi/10/up
I2C_BUS=1
SENSOR_BACKEND=hardware
